Fabric==1.10.2
Landscape-Client==14.12
PAM==0.4.2
PyNaCl==1.0.1
Pyro4==4.41
Twisted-Core==13.2.0
apt-xapian-index==0.45
argparse==1.2.1
cffi==1.8.2
chardet==2.0.1
colorama==0.2.5
configobj==4.7.2
dnif-logger==1.0.1
dpkt==1.6
html5lib==0.999
idstools==0.5.0dev
impacket==0.9.10
incf.ids-tools==1.0.6
meld3==0.6.10
paramiko==1.15.3
pcapy==0.10.8
pyOpenSSL==0.13
pycparser==2.14
pycrypto==2.6.1
pygeoip==0.3.2
pyserial==2.6
python-apt==0.9.3.5ubuntu2
python-debian==0.1.21-nmu2ubuntu2
redis==2.10.3
requests==2.2.1
serpent==1.12
six==1.5.2
ssh-import-id==3.21
supervisor==3.0b2
urllib3==1.7.1
wsgiref==0.1.2
zope.interface==4.0.5
